.error-container {
    width: 100%;
}

.err-title {
    color: darkgray;
    font-weight: bolder;
}

.not-found {
    color: #617c00;
}

.err-card {
    box-shadow: rgb(151, 191, 14, 0.3) 0px 0px 0px 3px;
}