.container-splash {
  min-width: 300px;
  width: 100%;
  height: 100vh;
  background: rgb(245, 199, 2);
  background-image: linear-gradient(0deg, #5858587e 56%, #5858587e 56%), url('./onlinedoc.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
}

p {
  margin: 0;
  padding: 0;

  /* color: white; */
}

.logo-text-style {
  color: rgb(245, 199, 2);
  font-weight: bold;
}

.btn-container {
  width: 90%;
}

.splash-title {
  margin-top: 5rem;
}

.splash-btn {
  color: white;
  width: 50%;
  padding: 0.7rem;
  background: #617c00;
  border: none;
}

.splash-btn:hover {
  background: #97bf0e;
}

@media (min-width: 768px) {
  .splash-btn {
    width: 25%;
    padding: 1rem;
  }
}
