.add-doc-container {
    width: 100%;
    background: red;
}
.doc-container-form{
    width: 100%;
    height: 90vh;
    background: rebeccapurple;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    width: 85%;
    height: 90vh;
    background-color: orchid
}

.doc-form {
    background-color: rgba(162, 204, 23, 0.29);
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.form-group {
    text-align: center;
}

label {
    text-align: left;
}
.form-control {
     background-color: white;
}

.reserve-radio {
    justify-self: start;
    align-self: flex-start;
}

@media (max-width: 1200px) {
    .doc-container-form{
        justify-content: space-between;
    }

    .form-container {
        width: 65%;
    }

}