.doc-container-form {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  width: 90%;
  margin: 0;
}

.form-container {
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.form-title h2 {
  font-family: 'poppins', sans-serif;
  font-weight: 900;
}

.add-doc-container {
  display: flex;
  justify-content: center;
}

.form-appointment {
  width: 100%;
  border: 1px solid whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
}

.doc-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.doc-form-group {
  font-weight: 500;
  width: 30rem;
}

.doc-form-group p {
  font-size: 1.05rem;
  font-family: 'Roboto', sans-serif;
}

#doctor-submit {
  text-align: center;
  align-self: center;
  justify-self: center;
  padding: 13px;
  width: 40%;
  background: #617c00;
  color: white;
  border: none;
}

#doctor-submit:hover {
  background: #97bf0e;
}

.form-control {
  background-color: white;
}

.reserve-radio {
  justify-self: start;
  align-self: flex-start;
}

textarea {
  height: 10rem;
  min-height: 10rem;
  max-height: 10rem;
}

@media (max-width: 800px) {
  .doc-container-form {
    width: 100%;
    justify-content: center;
  }
}
