body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.reserveContainer {
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #83cc16e5, #83cc16b6), url(../auth/css/onlinedoc.jpg) no-repeat 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}

.reserveFormHeading {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  font-weight: 700;
  padding-bottom: 15px;
}

.resrve-header {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.details-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-list {
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
}

.form-user-name {
  border-radius: 50px;
  background-color: rgb(132 204 22/var(--tw-bg-opacity));
  width: 50%;
  height: 50px;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px;
  gap: 10px;
}

.form-book {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-user-button {
  border-radius: 50px;
  background-color: #fff;
  color: #83cc16b6 !important;
  color: #fff;
  border: 2px solid #fff;
  gap: 10px;
  margin-top: 20px;
  padding: 16px;

  /* margin: auto 0; */
}
