.appointment-heading h2 {
  font-family: 'poppins', sans-serif;
  font-weight: 900;
}

.my-appointment-container {
  font-family: 'Lato', sans-serif;
}

.my-appointment-box {
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0, rgba(0, 0, 0, 0.06) 0 1px 2px 0;
  width: 90%;
}

.card {
  background: white;
  color: black;
}

.card-box {
  display: flex;
  justify-content: space-evenly;
}

.doc-name {
  font-weight: bold;
}

.my-appointment-card p {
  color: white;
}

/** card style */

.reserve,
.city {
  color: rgb(168, 166, 166);
  font-weight: 600;
}

.delete-appointment {
  padding: 0.5rem;
  outline: none;
  border: none;
  background: #617c00;
  color: white;
}

.delete-appointment:hover {
  background: red;
}
