@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;900&family=Roboto:wght@400;700&family=Square+Peg&display=swap');

:root {
  --light-green: #97bf0e;
  --blue: #48bab5;
  --dark-green: #617c00;
  --orange: #f5c702;
  --black: #111;
  --main-white: #fff;
  --main-font: 'Roboto';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* navbar */
.navbar {
  min-width: 250px;
  width: 15vw;
  height: 100vh;
  border-right: 0.4px solid rgba(142, 142, 142, 0.2);
  padding: 0 1rem 0 1rem;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
}

.logo {
  width: 10rem;
}

.links-container {
  margin-top: 5rem;
}

.navbar ul {
  list-style-type: none;
  margin: 0 auto;
}

.navbar ul li {
  margin: 1rem 0;
}

.navbar ul li a {
  display: inline-block;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  padding: 8px;
  width: 100%;
}

.link:hover {
  color: var(--dark-green);
  background-color: #dddddc;
}

.active {
  background-color: var(--light-green);
  color: var(--main-white) !important;
}

.copyright {
  position: absolute;
  bottom: 1rem;
}

/* end of navbar */

/* main section */
#main-sec {
  margin-left: 15vw;
  padding: 65px 1px 10px 1px;
  width: 85%;
}

/* end of main section */

/* details section */
.details {
  text-align: left;
  font-family: 'Lato', sans-serif;
  margin-top: 5rem;
}

.details table {
  margin-top: 2rem;
  width: 100%;
}

.row {
  background-color: rgb(225, 225, 225);
}

table td,
table th {
  padding: 10px;
}

table th {
  padding: 10px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.detail-name,
.doctor-header {
  color: var(--black);
  font-family: 'poppins', sans-serif;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 2rem;
}

.doctor-header-para {
  margin-top: 1rem;
  font-family: 'poppins', sans-serif;
}

/* end of details */
